@font-face {
    font-family: 'Susa Light';
    src: url('../fonts/Susa-Light.otf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/open-sans-light.ttf');
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans Light';
}

/* fon-block */

.fon-block { 
    background-color: #f74c55;
    position: relative;  
    min-height: 496px;
    overflow: hidden;
    display: flex;
    align-items: stretch;
}

.coverBlock {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    z-index: 8;
    flex: 1 0 auto;
    padding: 0 15px;
}

/* header block */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
}

.header__caption {
    position: relative;
    z-index: 8;
    font-family: 'Susa Light';
    font-size: 50px;
    color: white;
    font-weight: 400;
    margin-top: 15px;
}

.menu {
    z-index: 8;
}

.menu__item {
    font-family: 'Open Sans Light';
    color: white;
    text-transform: uppercase;
    font-weight: 300; 
    margin-left: 30px;
    font-size: 16px;
    text-decoration: none;
}

.joinColors {
    align-self: flex-end;
    position: relative;
    z-index: 8;
    flex: 1 0 auto;
    margin-right: 156px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.joinColors__shift-top {
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
}

.joinColors__caption {
    font-size: 40px;
    font-family: 'Open Sans Light';
    color: white;
    font-weight: 300; 
    margin: 0 0 0 0;
}

.joinColors__text {
    font-size: 16px;
    font-family: 'Open Sans Light';
    color: white;
    font-weight: 300; 
    margin-bottom: 26px;
}

.joinColors__button {
    font-family: 'Open Sans';
    color: white;
    font-size: 24px;
    background-color: rgba(247, 76, 85, 0.5);
    border: 2px solid white;
    line-height: 41px;
    max-width: 153px;
    border-radius: 6px;
}

.circle-1 {
    position: absolute;
    background-color: #fb636b;
    border-radius: 50%;
    width: 870px;
    height: 870px;
    top: calc(682px - 870px);
    left: calc( -1 * 870px / 2 + 50px);
    z-index: 1;
}

.circle-2 {
    position: absolute;
    background-color: #404040;
    border-radius: 50%;
    width: 718px;
    height: 718px;
    top: calc(550px - 718px);
    left: calc( -1 * 718px / 2 + 50px);
    z-index: 2;
}

.circle-3 {
    position: absolute;
    background-color: #f74c55;
    border-radius: 50%;
    width: 525px;
    height: 525px;
    top: calc(385px - 525px);
    left: calc( -1 * 525px / 2 + 50px);
    z-index: 3;
} 

.circle-4 {
    position: absolute;
    background-color: #82a3ad;
    border-radius: 50%;
    width: 466px;
    height: 466px;
    top: calc(322px - 466px);
    left: calc( -1 * 466px / 2 + 50px);
    z-index: 4;
} 

.circle-5 {
    position: absolute;
    background-color: #2d5f3b;
    border-radius: 50%;
    width: 384px;
    height: 384px;
    top: calc(251px - 384px);
    left: calc( -1 * 384px / 2 + 50px);
    z-index: 5;
} 

.circle-6 {
    position: absolute;
    background-color: #f74c55;
    border-radius: 50%;
    width: 281px;
    height: 281px;
    top: calc(162px - 281px);
    left: calc( -1 * 281px / 2 + 50px);
    z-index: 6;
} 

.circle-7 {
    position: absolute;
    background-color: #ee732f;
    border-radius: 50%;
    width: 206px;
    height: 206px;
    top: calc(100px - 206px);
    left: calc( -1 * 206px / 2 + 50px);
    z-index: 7;
}

.circleBox {
    position: absolute;
    right: calc(-1 * 527px * 0.45);
    bottom: calc(-1 * 527px * 0.50);
    width: 527px;
    height: 527px;
}

.circle-8 {
    position: absolute;
    background-color: #fb636b;
    border-radius: 50%;
    width: 527px;
    height: 527px;
    z-index: 1;
}

.circle-9 {
    position: absolute;
    background-color: #404040;
    border-radius: 50%;
    width: 466px;
    height: 466px;
    top: 20px;
    right: 10px;
    z-index: 2;
}

.circle-10 {
    position: absolute;
    background-color: #2d5f3b;
    border-radius: 50%;
    width: 384px;
    height: 384px;
    top: 37px;
    right: 31px;
    z-index: 3;
}

.circle-11 {
    position: absolute;
    background-color: #f74c55;
    border-radius: 50%;
    width: 281px;
    height: 281px;
    top: 62px;
    right: 56px;
    z-index: 4;
}

.circle-12 {
    position: absolute;
    background-color: #ee732f;
    border-radius: 50%;
    width: 206px;
    height: 206px;
    top: 84px;
    right: 82px;
    z-index: 4;
}

@media screen and (max-width: 515px) {    
    .header {
        flex-direction: column;
        padding: 0;
    }
    
    .menu {
        display: flex;
        justify-content: space-around;
    }

    .menu__item {
        margin: 0 5px;
    }

    .joinColors {
        margin: 0;
        align-self: auto;
    }
}

/* main */

.main {
    padding: 86px 9% 60px 9%;
    box-sizing: border-box;
}

.main__caption {
    font-size: 30px;
    font-weight: 400;
    margin: 0;
}

.main__text {
    font-size: 14px;
    margin-bottom: 60px;
}

/* colorLine */

.colorLine {
    display: flex;
}

.colorLine__item {
    width: 36px;
    height: 36px;
}

.colorLine__item_bkcolor-ee732f {
    background-color: #ee732f;
}

.colorLine__item_bkcolor-f74c55 {
    background-color: #f74c55;
}

.colorLine__item_bkcolor-2d5f3b {
    background-color: #2d5f3b;
}

.colorLine__item_bkcolor-404040 {
    background-color: #404040;
}

.colorLine__item_bkcolor-fb636b {
    background-color: #fb636b;
}