/* fon-block */

.fon-block { 
    background-color: #f74c55;
    position: relative;  
    min-height: 496px;
    overflow: hidden;
}

.coverBlock_width-1024 {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    z-index: 8;
}

/* header block */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__caption {

}

.menu {

}

.menu__item {

}

.joinColors {
    align-self: flex-end;
}

.circle-1 {
    position: absolute;
    background-color: #fb636b;
    border-radius: 50%;
    width: 870px;
    height: 870px;
    top: calc(682px - 870px);
    left: calc(613px - 870px);
    z-index: 1;
}

.circle-2 {
    position: absolute;
    background-color: #404040;
    border-radius: 50%;
    width: 718px;
    height: 718px;
    top: calc(550px - 718px);
    left: calc(537px - 718px);
    z-index: 2;
}

.circle-3 {
    position: absolute;
    background-color: #f74c55;
    border-radius: 50%;
    width: 525px;
    height: 525px;
    top: calc(385px - 525px);
    left: calc(441px - 525px);
    z-index: 3;
} 

.circle-4 {
    position: absolute;
    background-color: #82a3ad;
    border-radius: 50%;
    width: 466px;
    height: 466px;
    top: calc(322px - 466px);
    left: calc(411px - 466px);
    z-index: 4;
} 

.circle-5 {
    position: absolute;
    background-color: #2d5f3b;
    border-radius: 50%;
    width: 384px;
    height: 384px;
    top: calc(251px - 384px);
    left: calc(370px - 384px);
    z-index: 5;
} 

.circle-6 {
    position: absolute;
    background-color: #f74c55;
    border-radius: 50%;
    width: 281px;
    height: 281px;
    top: calc(162px - 281px);
    left: calc(281px + 38px - 281px);
    z-index: 6;
} 

.circle-7 {
    position: absolute;
    background-color: #ee732f;
    border-radius: 50%;
    width: 206px;
    height: 206px;
    top: calc(100px - 206px);
    left: calc(206px + 76px - 206px);
    z-index: 7;
} 